:root {
  background-color: white;
  font-family: monospace;
  height: 100%;
}

#app {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

hr {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}